body{
  background-color: #444444;
  color: #f4f4f4;  
  font-family: sans-serif;
  padding: 20px;
}

.homepage-logoimage {
  
}
.homepage-logo-nav {
  /*display: inline-flex;*/
  border: 1px solid black;
  
}
.homepage-navigation {
    display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
  border: 1px solid black;
}

.homepage-navigation-links {
  list-style-type: none;
  /*margin:0 auto;*/
}

.homepage-navigation li {
    display: inline-block;         
    padding: 24px;
  }

.homepage-image-carousel {
  border: solid 1px black; 
  
}

.homepage-image-carousel img {
  width: 100%;
}


.homepage-footer {
  border: 1px solid black;
  position: relative;
}


.footer-info {
  max-width: 1080px;
  margin: 0 auto;
  font-size: 0;
}

.footer-info  li{
  padding: 12px;
  padding-left:0px;
}

.footer-info > p{
  font-size: 12px;
  float: left;
  margin: 0 auto;
  color: #f4f4f4;
}

.main-footer > li,
.main-footer p {
  font-weight:bold;
  color: #7b7b7b;
}

.main-footer-text {
  font-weight:bold;
  color: #7b7b7b;
}

.footer-left-free > li {
}

.footer-info li{
  list-style-type: none;
  font-weight:bold;
  color: #7b7b7b;
}

.footer-left-custom {
  list-style-type: none;
}

.footer-bottom-section{
  background-color: #393939;
  color: #716f6f; 
  font-family: sans-serif;
  font-weight: bold;
  padding: 35px;
  text-align: center;  
}

ul {
  padding: 0;
}

.footer-list-section {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-right: 3%;
  width: 22%;
}

.footer-list-section > h4{
  color:#7b7b7b;
}


.footer-social-section{
  
}

.socialmediatext {
	float:left;
	padding: 15px;
	margin:0;
}

.circle{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #7b7b7b;
  float: left;
  clear: both;
  margin: 5px;
}
.facebookicon{
  width: 31px;
  height: 31px;
  opacity: 0.4;
  margin: 4px;
}

.twittericon{
  width: 31px;
  height: 31px;
  opacity: 0.4;
  margin: 4px;
}
.pinteresticon{
  width: 31px;
  height: 31px;
  opacity: 0.4;
  margin: 4px;
}

.homepage-information-container {
	display: flex;
}
.homepage-information-item {
	display: flex;
	width: 33%;
	justify-content: space-around;
	flex-direction: row;
}
.homepage-information-item p {

}
