/*imported fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body{
  color: #201F51;
  font-family: 'Open sans', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 32px;
  text-align: center;
}

.homepage-container-wrapper {
  width: 100%;
  height: 100%;
}

.homepage-information-container {
/*  max-width: 1170px; */
  width: 100%;
  margin: 0 auto;
}

#logo {
  display: inline-block;
  width: 100%;
  height:100%
}

.navigation {
  background-color: #201F51;
  color: #fff;
  position: fixed;
  padding: 5px;
  width: 100%;
}

#menuToggle {

}

#menu a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  padding: 20px;
  font-size: 32px;
  color: #fff;

}

#menu a:hover {
  color: red;
  text-decoration: none;
}

/*mobile first */
@media screen and (max-width: 768px) {
  .navigation {
    background-color: #201F51;
    /*position: fixed; */
    color: #fff;
    display: block;
  }
}


/*middle section*/
.homepage-image-carousel {
  border: solid 1px black;
}

.homepage-image-carousel img {
 width: 100%;
}

.homepage-information-container {
	display: flex;
}
.homepage-information-item {
	display: flex;
	width: 33%;
	justify-content: space-around;
	flex-direction: row;
}
.homepage-information-item p {
}

/*media queries*/

@media screen and (max-width:768px) {
  .homepage-information-container {
    display: block;
    margin: 0 auto;
  }

  .homepage-information-item {
    margin: 0 auto;
  }
}

/* footer */
  .footer-info{
    width: auto;
    display: block;
  }

  .footer-list-section {
    width: auto;
    display: block;
  }


.homepage-footer {
  border: 1px solid black;
  position: relative;
  background-color: #5e5c5c;
}

.footer-info {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 0;
}

.footer-info  li{
  padding: 12px;
  padding-left:0px;
}

.footer-info > p{
  font-size: 12px;
  float: left;
  margin: 0 auto;
  color: #f4f4f4;
}

.main-footer > li,
.main-footer p {
  font-weight:bold;
  color: #7b7b7b;
}

.main-footer-text {
  font-weight:bold;
  color: #7b7b7b;
}

.footer-left-free > li {
}

.footer-info li{
  list-style-type: none;
  font-weight:bold;
  color: #7b7b7b;
}

.footer-left-custom {
  list-style-type: none;
}

.footer-bottom-section{
  background-color: #393939;
  color: #716f6f;
  font-family: sans-serif;
  font-weight: bold;
  padding: 35px;
  text-align: center;
}

ul {
  padding: 0;
}

.footer-list-section {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  margin-right: 3%;
  width: 22%;
  text-align: left;
}

.footer-list-section > h4{
  color:#7b7b7b;
}

@media screen and (max-width: 900px) {

  .homepage-footer {
    background-color: red;
    width: auto;
  }

  .footer-list-section {
    display: block;
    margin: 0 auto;
    width: -webkit-fill-available;
    border-top: solid;
    padding-left: 20px;
    text-align: center;
    }
  }


/* Social media links*/
.socialmediatext {
	float:left;
	padding: 15px;
	margin:0;
}

.circle{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #7b7b7b;
  float: left;
  clear: both;
  margin: 5px;
}
.facebookicon{
  width: 31px;
  height: 31px;
  opacity: 0.4;
  margin: 4px;
}

.twittericon{
  width: 31px;
  height: 31px;
  opacity: 0.4;
  margin: 4px;
}
.pinteresticon{
  width: 31px;
  height: 31px;
  opacity: 0.4;
  margin: 4px;
}

@media (max-width: 768px){

  .socialmediatext {
    display: block;
    font-size: 12px;
    float: none;
  }

  .footer-bottom-section {
    position: relative;
    bottom: 0;
  }
  .footer-info p span {
    position: absolute;
    bottom: 0;

  }

  .footer-social-section {
    text-align: center;
  }
}
